[Unit]
Description=playerctld - tracks most recently active MPRIS player
After=hyprland-session.target

[Service]
ExecStart=/usr/bin/playerctld daemon
Restart=on-failure

[Install]
WantedBy=hyprland-session.target
