[Unit]
Description=Start tmux for Continuum restore

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=tmux new-session -d

[Install]
WantedBy=default.target
