[SddmGreeterTheme]
Name=sddm-theme
Description=sddm-theme
Type=sddm-theme
Version=1.3
ConfigFile=Themes/jake_the_dog_live.conf
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sddm-astronaut-theme
Theme-API=2.0
QtVersion=6
