/*
 * __        __          _                  ____  _         _
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___|
 *                 |___/                              |___/
 *
 * -----------------------------------------------------
*/

/* -----------------------------------------------------
 * Import Catppuccin colors
 * ----------------------------------------------------- */
@import 'mocha.css';
@define-color backgroundlight #FFFFFF;
@define-color backgrounddark #FFFFFF;
@define-color workspacesbackground1 #FFFFFF;
@define-color workspacesbackground2 #CCCCCC;
@define-color bordercolor #FFFFFF;
@define-color textcolor1 #000000;
@define-color textcolor2 #000000;
@define-color textcolor3 #FFFFFF;
@define-color iconcolor #FFFFFF;

/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

* {
    font-family:"JetBrainsMono Nerd Font";
    font-weight: 500;
    background-color: transparent;
}

window#waybar {
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left {
    padding-left: 5px;
}

#custom-archicon {
    font-size: 20px;
    color: @textcolor;
    margin: 0px 15px 0px 0px;
}

#middle {
    margin: 3px 0;
    padding: 0 10px;
    border: 0px solid #f38ba8;
    background-color: @crust;
    border-radius: 20px;

}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
    margin: 3px 0 ;
    padding: 0 5px;
    background-color: @crust;
    border-radius: 15px;
    font-size: 14px;
}

#workspaces button {
    border: 0px;
    margin: 4px 5px 4px 0px;
    padding: 0px 4px 0px 4px;
    color: @textcolor3;
    transition: all 0.5s ease-in-out;
}

#workspaces button.active {
    color: @peach;
    border-radius: 90px;
    background-color: @mantle;
    font-weight: bold;
    font-size: 18px;
}

#workspaces button:hover {
    color: @textcolor1;
    background: @workspacesbackground2;
    border-radius: 15px;
}

/* -----------------------------------------------------
 * Tooltips ( Needs more work )
 * ----------------------------------------------------- */

tooltip {
    border-radius: 16px;
    opacity: 1;
        font-size: 16px;
    background-color: @base;
    padding: 20px;
        margin-top: 5px;
}

tooltip label {
    color: @text;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    margin: 0px 15px 0px 0px;
    border-radius: 12px;
    color: @textcolor;
    font-size: 14px;
    font-weight: normal;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
Group/tools
* ----------------------------------------------------- */

#tools {
    margin: 3px 3px;
    padding: 2px 8px;
    background-color: @crust;
    border-radius: 15px;
}

#custom-tools {
    margin-right: 10px;
}


#custom-hypridle {
    margin-right: 16px;
}

#custom-hypridle.active {
    color: @iconcolor;
}

#custom-hypridle.notactive {
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
    margin-right: 15px;
    font-size: 16px;
    font-weight: bold;
    color: @iconcolor;
}

#idle_inhibitor.activated {
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Notification
 * ----------------------------------------------------- */

#custom-notification {
    margin: 3px 5px 3px 0;
    padding: 0 12px 0 8px;
    background-color: @crust;
    border-radius: 15px;
    font-size: 16px;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 0 5px;
}
/* -----------------------------------------------------
 * Power Profiles Daemon
 * ----------------------------------------------------- */

#power-profiles-daemon {
    margin: 0px 13px 0px 0px;
    padding: 0px;
    font-size: 14px;
    color: @iconcolor;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    font-size: 15px;
    color: @textcolor;
}
/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight {

}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    font-size: 14px;
    padding: 0 6px;
    border: 0px solid #f38ba8;
    background-color: @crust;
    color: @textcolor;
    border-radius: 15px;
    margin: 3px 1px;
}

#pulseaudio.muted {
    color: @textcolor;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    font-size: 14px;
    color: @textcolor;
    border-radius: 15px;
    margin: 0px 15px 0px 0px;
}

#network.ethernet {
    color: @textcolor;
}

#network.wifi {
    color: @textcolor;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
    font-size: 14px;
    color: @textcolor;
    border-radius: 15px;
    margin: 10px 15px 10px 0px;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    font-size: 14px;
    padding: 0 8px;
    border: 0px solid #f38ba8;
    background-color: @crust;
    color: @textcolor;
    border-radius: 15px;
    margin: 3px 0;
}

#battery.charging,
#battery.plugged {
    color: @textcolor;
}

@keyframes blink {
    to {
        background-color: @backgroundlight;
        color: @textcolor2;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    font-size: 14px;
    margin: 0 8px;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}
