toggle_dark_mode d

#Zoom
zoom_in <C-=>
zoom_out <C-->

# Page Navigation
next_page <C-d>
previous_page <C-u>

goto_page_with_page_number gt

# opens the selected text as a url in the default browser
open_selected_url gx

new_command _add_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}"
new_command _add_red_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}" fontsize=5 text_color=255,0,0
