* {
  background-image: none;
}
window {
  background-color: rgba(0, 0, 0, 0.9);
}
button {
  color: #ffffff;
  background-color: #461E52;
  border-style: solid;
  border-color: #33ccfe;
  border-width: 2px;
  border-radius: 25%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  margin: 10px;
    padding: 0;
    font-size: 30px;
    font-family : "Fira Code,Roboto";
    font-weight: 500;
}


button:focus,
button:active {
  background-color: rgba(114,117,205,0.65);
  outline-style: none;
}

button:hover {
  background-color: #353c4a;
}

#lock {
  background-image: image(
    url("./icons/lock.svg")
  );
}

#logout {
  background-image: image(
    url("./icons/logout.svg")
  );
}

#suspend {
  background-image: image(
    url("./icons/suspend.svg")
  );
}

#hibernate {
  background-image: image(
    url("./icons/hibernate.svg")
  );
}

#shutdown {
  background-image: image(
    url("./icons/shutdown.svg")
  );
}

#reboot {
  background-image: image(
    url("./icons/reboot.svg")
  );
}
