final_space = true
version = 3

[palette]
os = "#ACB0BE"
closer = "p:os"
pink = "#F5C2E7"
lavender = "#B4BEFE"
blue = "#89B4FA"

[[blocks]]
type = "prompt"
newline = true
alignment = "left"

  [[blocks.segments]]
    type = "os"
    style = "plain"
    foreground = "p:os"
    template = "{{.Icon}} "

  [[blocks.segments]]
    type = "path"
    style = "plain"
    foreground = "p:pink"
    template = " {{ .Path }} "

    [blocks.segments.properties]
      home_icon = "~"
      style = "full"

  [[blocks.segments]]
    type = "git"
    style = "plain"
    foreground = "p:lavender"
    template = "{{ .HEAD }} "

    [blocks.segments.properties]
      branch_icon = "\ue725 "
      cherry_pick_icon = "\ue29b "
      commit_icon = "\uf417 "
      fetch_status = false
      fetch_upstream_icon = false
      merge_icon = "\ue727 "
      no_commits_icon = "\uf0c3 "
      rebase_icon = "\ue728 "
      revert_icon = "\uf0e2 "
      tag_icon = "\uf412 "

[[blocks]]
  type = "prompt"
  alignment = "left"
  newline = true

  [[blocks.segments]]
    type = "text"
    style = "plain"
    foreground = "p:blue"
    background = "transparent"
    template = '❯'

[[blocks]]
  type = 'rprompt'
  overflow = 'hidden'

  [[blocks.segments]]
    type = 'executiontime'
    style = 'plain'
    foreground = 'yellow'
    background = 'transparent'
    template = '{{ .FormattedMs }}'

    [blocks.segments.properties]
      threshold = 3000

[secondary_prompt]
  background = "transparent"
  foreground = "p:pink"
  template = '❯❯ '

[transient_prompt]
  foreground_templates = [
    "{{if gt .Code 0}}red{{end}}",
    "{{if eq .Code 0}}magenta{{end}}",
  ]
  background = 'transparent'
  template = "❯ "

